<div id="article" class="page">
  <h1 class="topic1">[% article.name | html %]</h1>
  <div class="padding">
    <div class="author">[% 'Posted by' | loc %] [% article.author %], [% article.published_at | date ('%c') %]</div>
    [% article.content %]
  </div>
</div>